
*, :after, :before {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 25px 0;
   font: 400 1rem/1.5rem Arial, sans;

   p {
      &:last-child {
         margin: 0;
      }
   }
}

section {
   max-width: 1024px;
   margin: 0 auto;
}

.container {
   display: grid;
   gap: 20px;
   padding: 30px 20px;
   background-color: #EEE;

   @media (min-width: 992px) {
      grid-template-columns: 420px 1fr;
   }

   [class*='col-'] {
      position: relative;
   }

   .expanded-wrap {
      position: relative;
      margin-bottom: 10px;

      [class*='expanded-box-'] {
         padding: 10px;
         color: white;
         background-color: red;

         @media (min-width: 992px) {
            position: absolute;
            top: 0;
         }
      }

      .expanded-box-a {
         right: 0;
      }

      .expanded-box-b {
         left: 0;
      }
   }
}

.container2 {
   padding: 30px;
   background-color: #EEE;

   .row-a {
      position: relative;

      .expanded-wrap {
         margin-bottom: 10px;
         padding: 10px;
         color: white;
         background-color: green;

         @media (min-width: 992px) {
            position: absolute;
            top: 0;
            left: 0;
         }
      }
   }

   .row-b {
      display: grid;
      gap: 20px;

      @media (min-width: 992px) {
         grid-template-columns: repeat(2, 1fr);
      }
   }
}

footer {
   margin-top: 20px;
   font-size: 0.8rem;
   color: #999;
   text-align: center;
}

.test {
   height: 120px;
   background-color: blue;
}