
*, :after, :before {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 25px 0;
   font: 400 1rem/1.5rem Arial, sans;

   @media (max-width: 991px) {
      padding: 20px;
   }

   p {
      &:last-child {
         margin: 0;
      }
   }
}

section {
   max-width: 1024px;
   margin: 0 auto;
}

.container {
   display: grid;
   gap: 20px;
   padding: 30px 20px;
   border-radius: 8px 8px 0 0;
   background-color: #beffdc;

   @media (min-width: 992px) {
      grid-template-columns: 420px 1fr;
   }

   [class*='col-'] {
      position: relative;
   }

   .expanded-wrap {
      position: relative;
      margin-bottom: 10px;

      [class*='expanded-box-'] {
         padding: 10px 15px 15px;
         color: white;
         background-color: rgba(#111, 0.85);

         @media (min-width: 992px) {
            position: absolute;
            top: 0;
         }
      }

      .expanded-box-a {
         right: 0;
         border-radius: 0 6px 6px 0;
      }

      .expanded-box-b {
         left: 0;
         border-radius: 6px 0 0 6px;
      }
   }
}

.container2 {
   padding: 30px 45px;
   color: white;
   border-radius: 0 0 8px 8px;
   background-color: #5b6577;

   .row-a {
      position: relative;

      .expanded-wrap {
         margin-bottom: 10px;
         padding: 10px 20px;
         color: white;
         background-color: rgba(#5500d6,0.8);

         @media (min-width: 992px) {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 6px 0 0 6px;
         }
      }
   }

   .row-b {
      display: grid;
      gap: 20px;

      @media (min-width: 992px) {
         grid-template-columns: repeat(2, 1fr);
      }
   }
}

footer {
   margin-top: 20px;
   font-size: 0.8rem;
   color: #999;
   text-align: center;
}