*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 25px 0;
  font: 400 1rem/1.5rem Arial, sans;
}

body p:last-child {
  margin: 0;
}

section {
  max-width: 1024px;
  margin: 0 auto;
}

.container {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  padding: 30px 20px;
  background-color: #EEE;
}

@media (min-width: 992px) {
  .container {
    -ms-grid-columns: 420px 1fr;
        grid-template-columns: 420px 1fr;
  }
}

.container [class*='col-'] {
  position: relative;
}

.container .expanded-wrap {
  position: relative;
  margin-bottom: 10px;
}

.container .expanded-wrap [class*='expanded-box-'] {
  padding: 10px;
  color: white;
  background-color: red;
}

@media (min-width: 992px) {
  .container .expanded-wrap [class*='expanded-box-'] {
    position: absolute;
    top: 0;
  }
}

.container .expanded-wrap .expanded-box-a {
  right: 0;
}

.container .expanded-wrap .expanded-box-b {
  left: 0;
}

.container2 {
  padding: 30px;
  background-color: #EEE;
}

.container2 .row-a {
  position: relative;
}

.container2 .row-a .expanded-wrap {
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  background-color: green;
}

@media (min-width: 992px) {
  .container2 .row-a .expanded-wrap {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.container2 .row-b {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

@media (min-width: 992px) {
  .container2 .row-b {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

footer {
  margin-top: 20px;
  font-size: 0.8rem;
  color: #999;
  text-align: center;
}

.test {
  height: 120px;
  background-color: blue;
}
